.clear {
  clear: both;
}

.spacer {
  height: 36px;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

.topwrapper {
  min-height: calc(100% - 64px);
}

.topbar {
  font-family: 'Nunito Sans', sans-serif;
  text-align: center;
  padding: 30px;
  /*outline: 1px solid rgb(199, 199, 199);*/
}

.logo {
  font-size: 50px;
  margin-bottom: 16px;
}

.logo img {
  max-width: 800px;
  width: 100%;
}

.nav .entry {
  display: inline-block;
  padding-right: 10px;
  padding-left: 10px;
}

.nav a {
  color: grey;
  font-size: 12px;
}


.content {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding: 12px;
}

.content > div {
  display: none;
}


.about div {
  float: left;
  width: calc(50% - 12px);
}

.about img {
  float: right;
  width: calc(50% - 12px);
}


.blog {
  text-align: center;
}

.blog .error {
  display: none;
}


.post {
  display: inline-block;
  width: 350px;
  margin: 24px;
  cursor: pointer;
  transition: width ease-in .2s;
}

.post .post-image {
  float: left;
  width: 350px;
  max-width: 350px;
  transition: max-width ease-in .2s;
}

.post .post-image img {
  width: 100%;
  border-radius: 20%;
}

.post .post-title {
  float: left;
  width: 350px;
  margin-top: 12px;
  margin-bottom: 12px;
  text-align: center;
  font-weight: bold;
}

.post .post-short {
  float: left;
  width: 350px;
}

.post .post-content {
  display: none;
  width: 350px;
  float: left;
  text-align: left;
}

.post.expanded .post-short {
  display: none;
}

.post.expanded {
  width: calc(100% - 48px);
}

.post.expanded .post-image {
  margin-right: 24px;
  width: 350px;
  max-width: calc(50% - 24px);
}

.post.expanded .post-title {
  max-width: calc(50% - 24px);
}

.post.expanded .post-content {
  display: inline-block;
  max-width: calc(50% - 24px);
}

.post .clear {
  height: 12px;
}


.bottombar {
  height: 64px;
}

.social {
  text-align: center;
}

.social img {
  width: 24px;
  height: 24px;
  margin-left: 16px;
  margin-right: 16px;
}
